#menu{
    display: none;
}
.iconoredes{
        margin-top: 8px; 
        border-radius: 18px; 
        width: 35px;
}
.navbar {
    --bs-navbar-padding-y: 0 !important;
}
body{
    background: linear-gradient(to bottom, #2F5D3A, #5EA150);
    font-size: 12px;
    color: black;
    font-family: Algerian;
}
footer{
    background:#6fbe5f;
    margin-top: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
footer h2{
    padding-bottom: 10px;
}
img{
    border-radius: 10px;
}

.item_menu{
    color: black;
    font-style: italic;
    font-family: "Baguet Script";
    
}
#tituloprincipal{
    color: aquamarine;
}

#Planes{
    background-color: bisque;
    width: 48%;
    right: 10px;
    position: absolute;
    border-radius: 25px;
}
#contactos {
    display: none;
    color:gray;
    text-decoration: none;
    border-radius: 15px;
    position: absolute;
    bottom: 5%;
    font-size: 15px;
}
#quiensom{
    display: none;
    color:gray;
    text-decoration: none;
    border-radius: 15px;
    position: absolute;
    bottom: 5%;
    font-size: 15px;
    margin-left: 15%;
}